body {
    color: yellow;
    background: black;
    margin:0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom:solid 2px yellow;
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 0)
}

section {
    background: rgb(3, 3, 3);
    padding-bottom:80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}

h1{

    font-size:40px;
}